<%= simple_form_for(@profile) do |f| %>
  
  <%= f.error_notification %>   
  <%= f.input :name %>
  <%= f.input :description, label: 'Info' %>
  <%= f.input :experience, label: 'Years of Experience' %>
  <%= f.input :profession %>
  <%= f.input :current_location %>
  <%= f.input :base_price, label: 'Charge per hour'%>
  <%= f.input :image %>
  <%= f.input :youtube_url %>
  <%= f.input :google_calendar %>
	
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
