<!-- button type="button" class="btn-mini btn-success" data-toggle="collapse" data-target="#search"> Open/Close Search </button> -->
<h1></h1>

<table class="table">
  <thead>
    <tr>
      <th></th>      
      <th><%= sort_link @search, :name, "Name" %></th>      
      <th><%= sort_link @search, :experience, "Experience (years)" %></th>
      <th>Profession</th>
      <th>Location</th>
      <th>$$$</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
   
  <div id="search" data-spy="affix-bottom" data-offset-top="20" class="collapse in form-search form-inline" >
  <%= search_form_for @search do |f|%>
  <div class="row">
  	<div class="span3">
  		<%= f.text_field :profession_cont, {:class => "input-medium search-query", :placeholder => "Search by Profession"} %>
  	</div>
  	<div class="span3">
    <!-- <%= text_field_tag :search, params[:search] %> -->
    <!-- <%= f.label :name_cont, " ." %> -->
    	<%= f.text_field :name_cont, {:class => "input-medium search-query", :placeholder => "Search By Name"} %>
    </div>
    <div class="span3>
	    <%= label_tag :_ %> 
	    <%= text_field_tag :locate, params[:locate], {:class => "input-medium search-query", :placeholder => "Search By City" } %> 
    </div>
    <div class="span3">
    	<%= f.submit "Search", {:class => "btn " } %> 
    </div>
   <% end %>

</div>	
 <br></br>
 <%= paginate @profiles %> 

  <tbody>
  	<div class="container-fluid media">
  		<div class="row-fluid">
  			<div class="span4">
		    <% @profiles.each do |profile| %>
		      <tr>
		      	
		      	<td class="thumbnails visible-tablet visible-desktop hidden-phone"><%= link_to (image_tag profile.image.url(:medium)), profile %></td>
		      	<td class="thumbnails hidden-tablet hidden-desktop visible-phone"><%= link_to (image_tag profile.image.url(:thumb)), profile %></td>        
		        <td><%= profile.name %></td>        
		        <td><%= profile.experience %></td>
		        <td><%= profile.profession %></td>
		        <td><%= profile.current_location %></td>
		        <td><%= number_to_currency profile.base_price %></td>
		        
		        
		      </tr>
		    <% end %>
		</div>
	  </div>
	</div>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
