<h1>Performers</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>      
      <th>Name</th>      
      <th>Experience (years)</th>
      <th>Show type</th>
      <th>Location</th>
      <th>One Hour Show</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>  
 
  <%= form_tag profiles_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>


	<%= paginate @profiles %>
	
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
      	<td><%= link_to (image_tag profile.image.url(:thumb)), profile %></td>        
        <td><%= profile.name %></td>        
        <td><%= profile.experience %></td>
        <td><%= profile.show_type %></td>
        <td><%= profile.current_location %></td>
        <td><%= profile.base_price %></td>
        <!--<td><%= link_to 'Show', profile %></td>
        <% if user_signed_in? && current_user == profile.user %>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
