<h1></h1>

<table class="table">
  <thead>
    <tr>
      <th></th>      
      <th><%= sort_link @search, :name, "Name" %></th>      
      <th><%= sort_link @search, :experience, "Experience (years)" %></th>
      <th>Type</th>
      <th>Location</th>
      <th>One Hour Show</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
   
  <div id="search" data-spy="affix-bottom" data-offset-top="200" class="collapse form-search form-inline" >
  <%= search_form_for @search do |f|%>
  <div class="row">
  	<div class="span3">
    <!-- <%= text_field_tag :search, params[:search] %> -->
    <!-- <%= f.label :name_cont, " ." %> -->
    <%= f.text_field :name_cont, {:class => "input-medium search-query", :placeholder => "Search By Name"} %>
    </div>
    <div class="span3>
    <%= label_tag :_ %> 
    <%= text_field_tag :locate, params[:locate], {:class => "input-medium search-query", :placeholder => "Search By City" } %> 
    </div>
    <div class="span3">
    <%= f.submit "Search", {:class => "btn " } %> 
    </div>
  
  

<!-- <%= search_form_for @search do |f| %>
	<div class="field">
	  <%= f.label :name_cont, "." %>
	  <%= f.text_field :name_cont %>
	</div> -->	
<!-- <div class="field">
	  <%= f.label :base_price_gteq, "Price between" %>
	  <%= f.text_field :base_price_gteq %>
	  <%= f.label :base_price_lteq, "and" %>
	  <%= f.text_field :base_price_lteq %> 
	
	<div class="btn"><%= f.submit "Search" %></div>-->
	<% end %>
<% end %>
</div>	
 <br></br>
 <%= paginate @profiles %> 

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
      	<td class="thumbnails"><%= link_to (image_tag profile.image.url(:medium)), profile %></td>        
        <td><%= profile.name %></td>        
        <td><%= profile.experience %></td>
        <td><%= profile.show_type %></td>
        <td><%= profile.current_location %></td>
        <td><%= number_to_currency profile.base_price %></td>
        <!--<td><%= link_to 'Show', profile %></td>
        <% if user_signed_in? && current_user == profile.user %>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
