<h1>Performers</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>      
      <th>Experience</th>
      <th>Show type</th>
      <th>Current location</th>
      <th>Base price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>        
        <td><%= profile.experience %></td>
        <td><%= profile.show_type %></td>
        <td><%= profile.current_location %></td>
        <td><%= profile.base_price %></td>
        <td><%= link_to 'Show', profile %></td>
        <% if user_signed_in? && current_user == profile.user %>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
