<p id="notice"><%= notice %></p>

<div class="text-center">
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>

<table class="table table-bordered">
  <div class="row">  	
	<!--<%= image_tag @profile.image.url(:medium) %>-->
	<%= image_tag @profile.image.url(:thumb) %>
	
	<p class="lead text-right">
	  <strong>First name:</strong>
	  <%= @profile.first_name %>
	</p>
	
	<p class="lead text-right">
	  <strong>Last name:</strong>
	  <%= @profile.last_name %>
	</p>
	
	<p class="lead text-right">
	  <strong>Description:</strong>
	  <%= @profile.description %>
	</p>
	
	<p class="lead text-right">
	  <strong>Experience:</strong>
	  <%= @profile.experience %>
	</p>
	
	<p class="lead text-right">	
	  <strong>Show type:</strong>
	  <%= @profile.show_type %>	
	</p>	
	
	<p class="lead text-right">
	  <strong>Current location:</strong>
	  <%= @profile.current_location %>
	</p>
	
	<p class="lead text-right">
	  <strong>Base price:</strong>
	  <%= @profile.base_price %>
	</p>
	<%= image_tag @profile.image.url %>
  </div>
</table>

<p class="text-center">  
  <strong><%= link_to 'Request a Show', new_profile_show_request_path(@profile) %></strong>
</p>

	<br />
  <table class="table table-striped">
	<tr>
		<th>Show Request</th>		
		<th>Show Date</th>
		<th>Show Time</th>
		<th>Description</th>
	</tr>
	
	<% @profile.show_requests.each do |show_request| %>
	  <tr>
	  	<td><%= link_to 'View Request', profile_show_request_path(@profile, show_request)%></td>
	  	<td><%= show_request.show_date %></td>
	  	<td><%= show_request.show_time %></td>
	  	<td><%= show_request.description %></td>
	  </tr>
	<% end %>
  </table>