<div class="text-center">
<% if user_signed_in? && current_user == @profile.user %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
<%end%>
</div>

<table class="container-fluid">
  <div class="row-fluid">	
     <div class="span6">
		<p class="lead text-center">	  
		  <strong><%= @profile.name %></strong> <br />		      
		</p>
		
		<div style="padding-right: 30px;">	
			<p class="lead text-center">
			<%= image_tag @profile.image.url(:square), :class => "img-polaroid" %>
			</p>
		</div>		
	  </div>	
	<!--<%= image_tag @profile.image.url(:medium) %>-->
	<!--<%= image_tag @profile.image.url(:thumb) %>-->
		<br ></br>
		<div class="span6 btn-group">
			<% if user_signed_in? && current_user != @profile.user %>
				<p class="lead text-left">
				<%= button_to "Make a Wish!", new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %>  
				</p>
		    <%else%>
			<a class="btn dropdown-toggle btn-large btn-primary" data-toggle="dropdown" href="#"> New Offering <span class="caret"></span> </a>		
			<ul class="dropdown-menu btn-primary">
			<li><%= button_to "Product", new_product_new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %></li>
			<li><%= button_to "Service", new_service_new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %> </li>
			<li><%= button_to "Event", new_event_new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %></li>
			<li role="presentation" class="divider"></li>
			<li><%= button_to "Basic", new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %></li>
			<%end%>
		</div>
		<br ></br>
		<br ></br>			
<!--		<% if user_signed_in? && current_user == @profile.user %>
			<p class="lead text-left">
			<%= button_to "Create New Product", new_product_new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %>  
			</p>
			<p class="lead text-left">
			<%= button_to "Create New Service", new_service_new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %>  
			</p>
			<p class="lead text-left">
			<%= button_to "Create New Event", new_event_new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %>  
			</p>				
		<p ></p>	
		<%else%>
		<p class="lead text-left">
			<%= button_to "Make a Wish!", new_profile_request_path(@profile), :class => "btn btn-large btn-block btn-primary", :type => "button", :method => "get" %>  
		</p><p ></p>
		<%end%>
-->		<div class="span6">	
		<p class="lead text-left">
		  <strong>Experience:</strong>
		  <%= @profile.experience %>
		</p>
		
		<p class="lead text-left">	
		  <strong>Profession:</strong>
		  <%= @profile.profession %>	
		</p>	
		
		<p class="lead text-left">
		  <strong>Current location:</strong>
		  <%= @profile.current_location %>
		</p>
		
		</div>
	
	
	<div class="span12">
		<p class="lead text-left">
		  <strong>About:   </strong>
		  <%= @profile.description %>
		</p>
	</div>

	<br />	
	</div>
</table>	
  

<p class="text-center">  
  <strong><%= link_to 'Make a Wish', new_profile_request_path(@profile) %></strong>
</p>
	<br /> 
	
	<table class="table table-striped">
	<tr>
		<th>Request</th>		
		<th>Date</th>
		<th>Time</th>
		<th>Description</th>
	</tr>  
 
	<% @profile.requests.each do |request| %>
	<% if user_signed_in? && (current_user == request.user || current_user == @profile.user) %>
	
	  	<tr>
	  	<td><%= link_to 'View Wish', profile_request_path(@profile, request)%></td>
	  	<td><%= request.date.strftime("%B %d, %Y") %></td>
	  	<td><%= request.time.strftime("%I:%M %p")%></td>
	  	<td><%= request.description %></td>
	  </tr>
	  <% end %>  
	<% end %>
  </table>
</body>