<%= simple_form_for([@profile, @show_request]) do |f| %>
  <!--<% if @show_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show_request.errors.count, "error") %> prohibited this show_request from being saved:</h2>

      <ul>
      <% @show_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
	<br></br>
  <div class="field">
    <%= f.label :show_date %>
    <%= f.date_select :show_date %><br></br>
  </div>
  <div class="field">
    <%= f.label :show_time %>
    <%= f.time_select :show_time %><br></br>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %><br></br>
  </div>
  -->
  <%= f.error_notification %> 
  <%= f.input :show_date %>
  <%= f.input :show_time %>
  <%= f.input :description %>
  
  <br></br>
  <br></br>
  
  <div class="btn">
    <%= f.submit 'Update Request', :class => 'btn' %>
  </div>
<% end %>
