<h1>Listing show_requests</h1>

<table>
  <thead>
    <tr>
      <th>Show date</th>
      <th>Show time</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @show_requests.each do |show_request| %>
      <tr>
        <td><%= show_request.show_date %></td>
        <td><%= show_request.show_time %></td>
        <td><%= show_request.description %></td>
        <td><%= link_to 'Show', show_request %></td>
        <td><%= link_to 'Edit', edit_show_request_path(show_request) %></td>
        <td><%= link_to 'Destroy', show_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show request', new_show_request_path %>
