<p id="notice"><%= notice %></p>

<p>
  <strong>Show date:</strong>
  <%= @show_request.show_date %>
</p>

<p>
  <strong>Show time:</strong>
  <%= @show_request.show_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show_request.description %>
</p>

<%= link_to 'Edit', edit_profile_show_request_path(@show_request.profile_id, @show_request) %> 
<%= link_to 'Back', profile_path(@show_request.profile_id) %>
