<%= simple_form_for([@profile, @request]) do |f| %>
  
  <%= f.error_notification %> 
  <!-- <%= f.input :profile, :value => Profile.find(params[:profile_id]).id %>
  <%= f.input :user, :value => current_user.id %> -->
  <%= f.input :date %>
  <%= f.input :time %>
  <%= f.input :description %>
  
  <br></br> 
  
  <div class="">
    <%= f.submit 'Save', :class => 'btn' %>
  </div>
<% end %>
