<%= simple_form_for([@profile, @request]) do |f| %>
   <!-- %= f.inputs :name => "Advanced" do 
	 %= f.error_notification % 
	   f.input :profile, :value => Profile.find(params[:profile_id]).id 
	  < f.input :user, :value => current_user.id
	  end % -->	  
	 
	  <%= f.input :date, as: :string, :id => "datepicker col-span-3", input_html: { class: "datepicker", value: Date.today.strftime('%m/%d/%Y')}%>
	  
	 
	  <%= f.input :time %>
	  <%= f.input :description %>
  
  <br></br> 
  
  <div class="">
    <%= f.submit 'Save', :class => 'btn' %>
  </div>
<% end %>
