<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @request.date.strftime("%B %d, %Y") %> 
<p>
  <strong>Time:</strong>
  <%= @request.time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<%= link_to 'Edit', edit_profile_request_path(@request.profile_id, @request) %> 
<%= link_to 'Back', profile_path(@request.profile_id) %>
