<% if user_signed_in? && current_user == @request.user %>
<%= link_to 'Edit', edit_profile_request_path(@request.profile_id, @request) %> 
<%= link_to 'Back', profile_path(@request.profile_id) %>
<%end%>
<br></br>

<p>
  <strong>Date:</strong>
  <%= @request.date.strftime("%B %d, %Y") %> 

  <strong>Time:</strong>
  <%= @request.time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@request.price, precision: 2) %>
</p>

<p>
</p>
<p>
  <small>Created At:
  <%= @request.created_at.in_time_zone(Time.zone).strftime("%B %d, %Y"" at " "%I:%M %p") %>
  </small>
</p>


<h1>...</h1>
<p>
</p>
<% if user_signed_in? && (current_user == @comment.user || current_user == @commentable.profile.user || current_user == @commentable.user) %>
<%= render "comments/comments" %>
<%= render "comments/form" %>
<% end %>
