<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @request.date.strftime("%B %d, %Y") %> 
<p>
  <strong>Time:</strong>
  <%= @request.time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>
<p>
</p>
<p>
  <strong>Created At:</strong>
  <%= @request.created_at %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= @request.updated_at %>
</p>


<%= link_to 'Edit', edit_profile_request_path(@request.profile_id, @request) %> 
<%= link_to 'Back', profile_path(@request.profile_id) %>

<h2>Comments</h2>
<% if user_signed_in? && (current_user == @comment.user || current_user == @commentable.profile.user) %>
<%= render "comments/comments" %>
<%= render "comments/form" %>
<% end %>
